span.cursiva{
    font-style: oblique;
}

span.negrita {
    font-weight: bold;
}

span.pequeña{
    font-size: small;
}

ul{
    list-style-type: circle;
}

ol{
    list-style-image: url("img/Cara-Sonriente-Simple\ .jpg");
}